<div class="container-fluid ">
  <div class="flex-content">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ngbd-carousel-config></ngbd-carousel-config>
      </div>
    </div>
  </div>
  <div class="flex-content">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text-center">
          <h2 class="single-souligne">Jackson was made to be the best music bot on Discord.</h2>
        </div>
      </div>

      <div *ngFor="let cardItem of cardItems" class="col-lg-8 col-md-10 col-sm-12 col-xs-12 custom-center">
        <app-card-information [title]="cardItem.title" [content]="cardItem.content" [icon]="cardItem.icon" [iconPosition] = "cardItem.iconPosition" ></app-card-information>
      </div>
    </div>
  </div>
</div>

