<div class="container-fluid ">
  <div class="flex-content">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text-center">
          <h1 class="single-souligne">F A Q</h1>
        </div>
      </div>

      <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 custom-center">
        <app-card-information title="Currently writing" content="" icon="fas fa-tools" iconPosition = "left" ></app-card-information>
      </div>
    </div>
  </div>
</div>

