<div class="container-fluid ">
  <div class="flex-content">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-center">
          <h2 class="single-souligne">JacksonBot's Features</h2>
          <app-command-list listIcon="fa fa-play" commandCategory="Sound Commands" [commandList]="soundCommands"></app-command-list>
          <app-command-list listIcon="fa fa-wrench" commandCategory="Server Commands" [commandList]="serverCommands"></app-command-list>
          <app-command-list listIcon="fab fa-discord" commandCategory="Misc Commands" [commandList]="miscCommands"></app-command-list>
        </div>
      </div>
    </div>
  </div>
</div>

